<% if (typeof(errors) != "undefined") { %>
    <% for (var error of errors){%>
    <div class="alert alert-danger"><%= error.msg %></div>
<% }}else {  %>
    <div class="alert alert-danger">no errors for now</div>
<% } %>

<form name="form3" method="POST" action="/boats/update/<%- _id %>">
    <table>
        <tr>
        <td>BoatName</td>
        <td><input type="text" name="BoatName" value="<%- BoatName %>"></td>
        </tr>
        <tr>
        <td>BoatLengthInFeet</td>
        <td><input type="text" name="BoatLengthInFeet" value="<%- BoatLengthInFeet %>"></td>
        </tr>
        <tr>
        <td>BoatYear</td> 
        <td><input type="text" name="BoatYear" value="<%- BoatYear %>"></td>
        </tr>
        <tr>
        <td>BoatCapacityInPeople</td>
        <td><input type="text" name="BoatCapacityInPeople" value="<%- BoatCapacityInPeople %>"></td>
        </tr>
        <tr>
        <td>BoatPictureUrl</td>
        <td><input type="text" name="BoatPictureUrl" value="<%- BoatPictureUrl %>"></td>
        </tr>        
        <tr>
        <td ><input type="submit" value="Update" ></td>
        </tr>
    </table>
</form>