<!-- <%- layout('layout.ejs') %> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKtdwDUEBfyH1WIceQmylNKXn0HfT4LyU" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script>
  //AIzaSyBKtdwDUEBfyH1WIceQmylNKXn0HfT4LyU
  $(document).ready(function () {
    var map;
    var elevator;
    var myOptions = {
        zoom: 10,
        center: new google.maps.LatLng(49, -123),
        mapTypeId: 'terrain'
    };
    map = new google.maps.Map($('#map_canvas')[0], myOptions);
    // var address = '<%- users[0].Email %>'
    // alert(address)
    var addreses = []
    var usersString = '<%- JSON.stringify(users) %>'
    var usersJson = JSON.parse(usersString)
    //alert(usersJson.length)
    for (var x = 0; x < usersJson.length; x++) {
    //  alert(usersJson[x].Address[0].Street)
        $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address='+usersJson[x].Address[0].Street+" "+usersJson[x].Address[0].City+" "+usersJson[x].Address[0].Province+" "+usersJson[x].Address[0].PostalCode+" "+usersJson[x].Address[0].Country+'&key=AIzaSyBKtdwDUEBfyH1WIceQmylNKXn0HfT4LyU', null, function (data) {
            if (data.results[0] !== undefined){
              var p = data.results[0].geometry.location
              var latlng = new google.maps.LatLng(p.lat, p.lng);
              new google.maps.Marker({
                position: latlng,
                map: map
              });
            }else {
              //why do this bug occur? need to figure it out
              alert("error in "+ usersJson[x-1].Email+", it seems like his address is wrong!")
            }
        });
    }
});
</script>

<a href="/users/list">User List</a>
<a href="/boats/list">Boat List</a>
<a href="/logout">Logout</a>

<h2>Users location Map</h2>
<div id="map_canvas" style="    width: 100%;
height: 500px;" ></div>

<h2>Users list</h2>
<table class="table">
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <% for(var i=0; i < users.length; i++) { %>
        <tr scope="row">
         <td><%- users[i].Email %></td>
         <td><%- users[i].FirstName %></td>
         <td><%- users[i].LastName %></td>
         </tr>
        <% } %>
</table>